.logo {
    width: 100px;
    margin-top: 12px;
    margin-left: 12px;
    object-fit: contain;
}

.nav_bar {
    background-color: #131921;
    cursor: pointer;
    position: sticky;
    height: 10vh;
   z-index: 100;
    top: 0;
    /* width: 100%; */
}

.nav_bar {
    display: flex;
}

.search {
    width: 50vw;
    height: 4.5vh;
    border: none;
    outline: none;
}

.searchBar {
    margin-top: 16px;
    margin-left: 12px;
}

.first {
    color: white;
    margin-top: 9px;
    margin-left: 52px;
}

.nav_details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 12px;
}

.first>p {
    font-size: 12px;
    font-weight: lighter;

}

.second {
    color: white;
    display: flex;
    margin-top: 1px;
}

.test3>p {
    margin-top: 0px;
    margin-left: 12px;

}

.cartSize {
    padding-left: 12px;
    margin-bottom: -4px;
    padding-bottom: -2px;
    color: peru;

}

.nd {
    margin-top: 22px;
    margin-left: 2px;
    font-size: 18px;
}

.nav2 {
    display: flex;
    background-color: #232f3e;
    color: white;
    font-family: sans-serif;
    height: 7vh;
    align-items: center;
    position: sticky;


}

.secondItem {
    width: 15vw;
    justify-content: space-around;
    margin-left: 12px;
    font-size: 13px;
    padding: 2px;

}

.firstItem {
    width: 13vw;
    justify-content: space-between;
    margin-top: 1px;
}



.locIcon {
    margin-left: -15px;
    margin-bottom: -12px;

}

.address {
    padding-left: 8px;
}

.poster {
    width: 100vw;
    height: 80vh;
    z-index: -2;
    /* object-fit: contain; */
}
.downloadImg{
    width: 90%;
    object-fit: contain;
}
.searchIcon{
    color: #232f3e;
    position: absolute;
    left: 720px;
}
